# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# The binaries we compiled
ex1/face-detection/face_detect
ex1/sharpen-psf/sharpen
ex1/simpler-capture-4/brighten
ex1/simpler-capture-4/capture
ex1/simpler-capture-4/brighten
ex1/simpler-capture-4/capture_timed
ex1/simpler-capture-4/diffcapture
ex1/simpler-capture-4/gstream_cap
ex1/simpler-capture-4/ipcapture
ex1/simpler-capture-4/videowriter
ex1/overlay/overlay
ex1/overlay/320x240Capture.png

# Compiled and Media files we don't need to push
ex2/q1/*.ppm
ex2/*.mp4
ex2/q4/v4l2/*.ppm

ex2/q2/sobel
ex2/q3/canny
ex2/q4/opencv/capture
ex2/q4/v4l2/capture
ex2/q4/overlay/overlay



