# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ex1/face-detection/face_detect
ex1/sharpen-psf/sharpen
ex1/simpler-capture-4/brighten
ex1/simpler-capture-4/capture
ex1/simpler-capture-4/brighten
ex1/simpler-capture-4/capture_timed
ex1/simpler-capture-4/diffcapture
ex1/simpler-capture-4/gstream_cap
ex1/simpler-capture-4/ipcapture
ex1/simpler-capture-4/videowriter
