# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#### Exercise 1 ####
ex1/face-detection/face_detect
ex1/sharpen-psf/sharpen
ex1/simpler-capture-4/brighten
ex1/simpler-capture-4/capture
ex1/simpler-capture-4/brighten
ex1/simpler-capture-4/capture_timed
ex1/simpler-capture-4/diffcapture
ex1/simpler-capture-4/gstream_cap
ex1/simpler-capture-4/ipcapture
ex1/simpler-capture-4/videowriter
ex1/overlay/overlay
ex1/overlay/320x240Capture.png

#### Exercise 2 ####
ex2/q1/*.ppm
ex2/*.mp4
ex2/q4/v4l2/*.ppm
ex2/q4/v4l2/*.pgm

ex2/q2/sobel
ex2/q3/canny
ex2/q4/opencv/capture
ex2/q4/v4l2/capture
ex2/q4/overlay/overlay
ex2/q5/edge

#### Exercise 3 ####
ex3/q2/lines
ex3/q3/circles
ex3/q4/detect
ex3/q4/frames/
ex3/q5/convert
ex3/q5/frames/
ex3/q6/track
ex3/q6/frames/

#### Exercise 4 ####
ex4/q2/*.AVI
ex4/q2/hough
ex4/q3/skeletal
ex4/q4/siftDemoV4/
ex4/q4/pyrupdown/pyrupdown
ex4/q5/*.mp4
ex4/q5/hog
ex4/q5/*.jpg
ex4/q6/detect/hog
ex4/q6/detect/frames/
ex4/q6/train/train
ex4/q6/train/prep/prep
ex4/q6/train/annotations/sort
ex4/q6/train/annotations/pos/
ex4/q6/train/annotations/neg/
ex4/q6/train/annotations/people.txt



#### Final Project ####
proj/train/annotations/sort
proj/train/annotations/pos/
proj/train/annotations/neg/
proj/train/frames/
proj/train/trainer/train
proj/train/*.mp4


proj/units/detector/chicken_detect
proj/units/locate/locate
proj/units/coord/coord
proj/units/coord/*.jpg
proj/defender/defender

proj/train/yolo/


